#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Icon[en_US]=bash
Terminal=false
Name[en_US]=samsung
Exec=bash /home/acha21/linux-settings/etc/set_samsung.sh
Comment[en_US]=set resolution
Name=samsung
Comment=set resolution
Icon=/home/acha21/linux-settings/etc/monitor.png
